[Unit]
Description=clamav updater

[Service]
Type=forking
PIDFile=/var/run/clamav/freshclam.pid
ExecStart=/usr/bin/freshclam -d -p /var/run/clamav/freshclam.pid

[Install]
WantedBy=multi-user.target
